<div class="well">
<h3 v-if="type == 'create'">add new location</h3>
<h3 v-if="type == 'update'">edit location</h3>

<div class="row">
    <div class="col-md-3">
        <div v-component="method" v-with="fields.method"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div v-component="url" v-with="fields.url"></div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div v-component="response" v-with="fields.response"></div>
    </div>
</div>



<ul>
    <li style="color: red;" v-repeat="error: errors">{{error}}</li>
</ul>

<div class="row">
    <div class="col-md-1">
        <button class="btn btn-success" v-show="type == 'create'" v-on="click: save($event, this)">save</button>
        <button class="btn btn-success" v-show="type == 'update'" v-on="click: update($event, this)">update</button>
    </div>
    <div class="col-md-1">
        <button class="btn btn-danger" v-on="click: cancel($event, this)">cancel</button>
    </div>
</div>




</div>